# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Files by extension
*.user
*.vcxproj
*.vcxproj.filters

# Directories
.vs/
Release/
bin-int/

#.tlog

*.log
*.ini
*.sln
*.csproj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
